h1 {
    text-align: center;
}

img {
    width: 10%;
    border-radius: 50%;
}

body {
    border: 1px solid purple;
    padding: 0;
    margin: 0; /* remove margin so takes full screen size*/
}

.heading {
   border: 1px solid red;
   padding-top: 10px;
   text-align: center;
}